/* Style for personal info or intro page*/
#personalInfo {
    width: 50%;
    margin: 0 auto;
}

/* Toolbar for number of adult radios*/
#adults-toolbar {
    margin: 0 auto;
    width: 50%;
}

/* Toolbar for number of children radios*/
#children-toolbar {
    margin: 0 auto;
    width: 60%;
}

/* Budget button on intro page */
#budgetButton {
    margin: 0 auto;
    width: 50%
}

/* Style for banner module table*/
#banner-table {
    background: #E4E4E4;
    width: 75%;
    margin: 0 auto;
}

/* Style for radio button lables in banner table*/
#radio-label {
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

/* Style for breakdown div*/
#breakdown-div {
    float:right;
    width: 600px;
    height: 400px;
}

/* Style for chart div*/
#chart-div {
    float:left;
    width: 600px;
    height: 400px;
}

/* Chart and breakdown table container*/
#results-container {
    width: 75%;
    margin: 0 auto;
}

#collapse-table {
    background: gray;
}

label {
    display: inline-block;
    width: 10em;
    /* other CSS unchanged */
}
