/* Style for personal info or intro page*/
#personalInfo {
    width: 50%;
    margin: 0 auto;
}

/* Style for Five Year Results Container*/
#five-year-module-container {
    width: 70%;
    margin: 0 auto;
}

/* Toolbar for number of adult radios*/
#adults-toolbar {
    margin: 0 auto;
    width: 50%;
}

/* Goals monthly or yearly toggle*/
#amount-toggle {
    margin-top: 80px;
    margin-bottom: 40px;
}

/* Container for goals donut chart*/
#goals-chart-div {
    float:left;
    width: 600px;
    height: 400px;
}

/* Container for goals donut chart details (to the right of chart)*/
#donut-details {
    float:right;
    width: 600px;
    height: 400px;
}

/* Container for the donut details.*/
#donut-details-div {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-top: 60px;
}

/* Navigation bar above donut chart*/
#navbar-years {
    background:  #e1f5fe;
    margin-right: 21px;
    margin-left: 30px;
}

.arrows {
  margin-left: 6px;
}

/* Style for goals templage*/
#goal-template {
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
}

/*Intro page tempalte styles*/
#intro-template {
    background: url('src/css/roadmap.jpg');
    padding-bottom: 800px;
    padding-top: 50px;
}

/* Toolbar for number of children radios*/
#children-toolbar {
    margin: 0 auto;
    width: 60%;
}

/* Budget button on intro page */
#budgetButton {
    margin: 0 auto;
    width: 50%
}

/* Style for banner module table*/
#banner-table {
    background: #E4E4E4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}

/* Style for radio button lables in banner table*/
#radio-label {
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

/* Style for the accordian breakdown*/
 #accordion {
    background: #e1f5fe;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-top: 60px;
} 

/* Chart container styles*/
#chartContainer {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-top: 60px;
}

/* Chart container styles*/
#goalsChartContainer {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/*  Style for collapse area*/
.collapse {
  background: #e1f5ef;
}

/* Style for input-group in collapse*/
.input-group {
  margin-left: 5%;
}

/* Style for breakdown div*/
#breakdown-div {
    float:right;
    width: 600px;
    height: 400px;
}

/* Style for chart div*/
#chart-div {
    float:left;
    width: 600px;
    height: 400px;
}

/* Style for button div*/
#button-div {
    clear:both;
    padding: 200px;
    margin: 0 auto;
}

/* Chart and breakdown table container*/
#results-container {
    width: 75%;
    margin: 0 auto;
}

#collapse-table {
    background: gray;
}

label {
    display: inline-block;
    width: 10em;
    /* other CSS unchanged */
}

/* Checkbox garbage */
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    width: 1px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; 
      padding-top: 3px;}
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-child-care input[type="checkbox"]:checked + label::before {
  background-color: #7cb5ec;
  border-color: #7cb5ec; }
.checkbox-child-care input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-food input[type="checkbox"]:checked + label::before {
  background-color: #434348;
  border-color: #434348; }
.checkbox-food input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-housing input[type="checkbox"]:checked + label::before {
  background-color: #90ED7D;
  border-color: #90ed7d; }
.checkbox-housing input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-medical input[type="checkbox"]:checked + label::before {
  background-color: #f7a35c;
  border-color: #f7a35c; }
.checkbox-medical input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-other input[type="checkbox"]:checked + label::before {
  background-color: #8085e9;
  border-color: #8085e9; }
.checkbox-other input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-savings input[type="checkbox"]:checked + label::before {
  background-color: #f15c80;
  border-color: #f15c80; }
.checkbox-savings input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-taxes input[type="checkbox"]:checked + label::before {
  background-color: #e4d354;
  border-color: #e4d354; }
.checkbox-taxes input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-transportation input[type="checkbox"]:checked + label::before {
  background-color: #2b908f;
  border-color: #2b908f; }
.checkbox-transportation input[type="checkbox"]:checked + label::after {
  color: #fff; }


  /*.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }*/
